
<div class="calculator">
  <div type="text" class="display">{{ result }}</div>
    <div class="calculator-buttons">
      <button id="color"></button>
      <button id="color"></button>
      <button (click)="clear()">AC</button>
      <button (click)="share()">/</button>
      <button (click)="seven()">7</button>
      <button (click)="eight()">8</button>
      <button (click)="nine()">9</button>
      <button (click)="multiplication()">*</button>
      <button (click)="for()">4</button>
      <button (click)="five()">5</button>
      <button (click)="six()">6</button>
      <button (click)="subtract()">-</button>
      <button (click)="one()">1</button>
      <button (click)="two()">2</button>
      <button (click)="three()">3</button>
      <button (click)="sum()">+</button>
      <button id="color"></button>
      <button (click)="zero()">0</button>
      <button id="color"></button>
      <button (click)="results()">=</button>
    </div>
</div>

